{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2019,
        "sourceType": "module",
        "project": "../tsconfig.json",
        "tsconfigRootDir": "src",
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
    ],
    "rules": {
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-use-before-define": "off",
        "@typescript-eslint/type-annotation-spacing": "off",
        "@typescript-eslint/member-delimiter-style":"off",    
        "@typescript-eslint/no-unused-vars":"off",
        "react/display-name": "off",
        "react/prop-types": "off",
        "no-console": "off"
    },
    "plugins": [
        "@typescript-eslint",
    ]
}